*{
	margin: 0;
	padding: 0;
}
.aticle{
	margin-top: 70px;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}
.aticleTime{
	margin-top: 20px;
	margin-left: 85%;
	font-size: 12px;
	font-family: "微软雅黑";
}